/* Genel Stil */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ef3b24; /* Arka plan rengi güncellendi */
    color: #000; /* Genel yazı rengi siyah yapıldı */
    overflow: hidden;
    position: relative;
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    animation: moveTexture 20s linear infinite;
}

@keyframes moveTexture {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100px 100px;
    }
}

.content {
    text-align: left; /* İçeriği sola hizalamak için bu satırı değiştirdik */
    background-color: #fff;
    border-radius: 20px;
    padding: 60px 40px;
    width: 90%;
    max-width: 550px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    color: #000; /* İçerik yazı rengi siyah yapıldı */
    z-index: 1;
}

.logo {
    width: 220px;
    margin: 0 auto 40px auto;
    display: block;
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin: 25px 0;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.contact-list li a {
    color: #000; /* Bağlantı rengi siyah yapıldı */
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.contact-list li a:hover {
    color: #555; /* Hover sırasında daha koyu siyah */
}

.contact-list .icon {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
